.title-header-dashboard{
    background-color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
}
.admin-header{
    display: flex;
    background-color: white;
    height: 50px;
    line-height: 50px;
    justify-content: end;
}