.header {
    padding: 30px;
    background: white;
    font-size: 24px;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;

    .action-button {
        margin-right: 8px; 

        &:last-child {
            margin-right: 0; 
        }
    }
}

.table-container {
    overflow-x: auto; //
}

// Responsive styles
@media (max-width: 576px) { 
    .action-buttons {
        flex-direction: column;
        align-items: flex-start;

        .action-button {
            margin-right: 0;
            margin-bottom: 8px; 
        }
    }
}
